{% extends "CodeCatsFrontBundle::layout.html.twig" %}
{% block body %}
<section class="background-azure">
    <header class="navbar navbar-default" role="navigation">
        <nav class="container">
            <ul class="nav nav-justified">
                <li><a href="#">{{ 'Statystyki' | trans }}</a></li>
                <li><a href="#">{{ 'Użytkownicy' | trans }}</a></li>
                <li><a href="#">{{ 'Technologie' | trans }}</a></li>
            </ul>
        </nav>
    </header>
    <section class="front-header">
        <div>
            <h1 class="text-center title">Progress Checker</h1>
            <div class="container carousel-container">
                <div id="carousel-generic" class="carousel slide border shadow opacity-dark" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-generic" data-slide-to="1"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="{{ asset('bundles/codecatsfront/images/php-bg.png') | imagine_filter('my_thumb') }}" alt="...">
                            <div class="carousel-caption border opacity shadow">
                                {{ 'PHP jest najczęściej stosowany do tworzenia skryptów po stronie serwera WWW, ale może być on również używany do przetwarzania danych z poziomu wiersza poleceń, a nawet do pisania programów pracujących w trybie graficznym (np. za pomocą biblioteki GTK+, używając rozszerzenia PHP-GTK). Implementacja PHP wraz z serwerem WWW Apache oraz serwerem baz danych MySQL określana jest jako platforma AMP (w środowisku Linux – LAMP, w Windows – WAMP). Ponadto PHP można uruchomić na serwerze IIS (Windows) oraz w chmurze Windows Azure.' | trans }}
                            </div>
                        </div>
                        <div class="item">
                            <img src="{{ asset('bundles/codecatsfront/images/python-bg.png') | imagine_filter('my_thumb') }}" alt="...">
                            <div class="carousel-caption">
                                {{ 'Python – język programowania wysokiego poziomu ogólnego przeznaczenia[4] i rozbudowanym pakiecie bibliotek standardowych[5], którego ideą przewodnią jest czytelność i klarowność kodu źródłowego. Jego składnia cechuje się przejrzystością i zwięzłością[6][7]. Python wspiera różne paradygmaty programowania: obiektowy, imperatywny oraz w mniejszym stopniu funkcyjny. Posiada w pełni dynamiczny system typów i automatyczne zarządzanie pamięcią, będąc w tym podobnym do języków Perl, Ruby, Scheme czy Tcl. Podobnie jak inne języki dynamiczne jest często używany jako język skryptowy. Interpretery Pythona są dostępne na wiele systemów operacyjnych. Python rozwijany jest jako projekt Open Source zarządzany przez Python Software Foundation, która jest organizacją non-profit. Standardową implementacja języka jest CPython (napisany w C), ale istnieją też inne, np. Jython (napisany w Javie), CLPython napisany w Common Lisp, IronPython (na platformę .NET) i PyPy (napisany w Pythonie, zob. bootstrap).' | trans }}
                            </div>
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control hidden" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control hidden" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>

            </div>
        </div>
    </section>
    <section class="bg1">
        <article>
            <h3 class="text-danger well shadow">{{ 'Najaktywniejsi użytkownicy' | trans }}</h3>
            <div class="row">
        {% for user in users %}
                <div class="col-md-4">
                    <div>
                        <div class="pull-right navbar-text well text-muted center-block opacity shadow">
                            <div class="text-center well shadow">
                                {{ 'Użytkownik' | trans }}: <span class="text-primary">{{ user[0].username }}</span>
                                <span class="bg-warning clearfix">{{ 'E-mail' | trans }}: {{ user[0].email }}</span>
                                <span class="bg-warning clearfix">{{ 'Rola' | trans }}: {{ user[0].grade }}</span>
                                <ol class="well">
                                    {% for phone in user[0].phones %}
                                        <li>{{ 'Telefon' | trans }}: {{ phone.number }}</li>
                                    {% else %}
                                        <li>{{ 'Brak numeru telefonu' | trans }}</li>
                                    {% endfor %}
                                </ol>
                            </div>
                            {% if user[0].avatar.path %}
                                <div>
                                    <img class="img-circle center-block shadow" src="{{ path('code_cats_panel_avatar_get', {name: user[0].avatar.path}) }}" alt="avatar for {{ user[0].username }}"/>
                                </div>
                            {% endif %}
                            <hr>
                            <p class="center-block well shadow">
                                {{ 'Ilość dni spędzonych na programowaniu' | trans }}:
                                {% if user.progress_days %}<span class="text-danger">{{ user.progress_days }}</span>{% else %} - {% endif %}
                            </p>
                            <a class="btn btn-primary center-block" href="#">{{ 'Zobacz szczegóły' | trans }}</a>
                        </div>
                    </div>
                </div>
        {% endfor %}
            </div>
        </article>
    </section>
    <section class="fixed-bg-pure">
        <div class="bgtriangle"></div>
        <div class="on-top bgtriangle-fix">
            <h3 class="text-danger well shadow">{{ 'Kategorie' | trans }}</h3>
                {% set rowCounter = '0' %}
                {% for category in categories %}
                    {% if rowCounter == 0 %}
                        <div class="row">
                    {% endif %}
                    <div class="col-md-4">
                        <dl class="opacity well shadow border">
                            <dt id="category{{ category.name }}">{{ category.name }}</dt>
                            <dd>{{ category.description }}</dd>
                            <dd><a class="btn btn-primary center-block" href="#">{{ 'Zobacz szczegóły' | trans }}</a></dd>
                        </dl>
                    </div>
                    {% set rowCounter = rowCounter + 1 %}
                    {% if rowCounter == 3 %}
                        </div>
                    {% endif %}
                    {% if rowCounter == 3 %}
                        {% set rowCounter = 0 %}
                    {% endif %}
                {% endfor %}

        </div>
    </section>
    <section class="bg2">
        <div class="bgtriangle-pure"></div>
        <div class="on-top bgtriangle-fix">
            <h3 class="text-danger well shadow">{{ 'Ostatnia aktywność' | trans }}</h3>
            <ul class="list-unstyled">
                {% for progress in progresses %}
                    <li class="well">
                        <div class="row">
                            <div class="col-md-8">
                                <dl class="dl-horizontal">
                                    <dt>{{ progress.title }}</dt>
                                    <dd>{{ progress.description }}</dd>
                                    <dt>{{ 'Początek' | trans }}</dt>
                                    <dd>{{ progress.started | date('Y-m-d') }}</dd>
                                    <dt>{{ 'Koniec' | trans }}</dt>
                                    <dd>{{ progress.ended | date('Y-m-d') }}</dd>
                                </dl>
                            </div>
                            <div class="col-md-2"><a href="#category{{ progress.category.name }}" class="btn btn-primary">{{ progress.category.name }}</a></div>
                            <div class="col-md-2">
                                <a href="#" class="btn btn-primary">{{ progress.user.username }}</a>
                            </div>
                        </div>

                    </li>
                {% else %}
                    <li>{{ 'Brak aktywności' | trans }}</li>
                {% endfor %}
            </ul>
        </div>
    </section>
    <section class="fixed-bg-pure">
        <br><br><br>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
        Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
        Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
        Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
        Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
        Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
        Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
        Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum <br><br><br><br><br><br><br><br><br><br>
        <br><br><br>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum <br><br><br><br><br><br><br><br><br><br>
    </section>
    <section class="bg3">
        <br><br><br>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
        Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
        Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
        Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
        Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
        Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
        Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
        Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum <br><br><br><br><br><br><br><br><br><br>
        <br><br><br>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum <br><br><br><br><br><br><br><br><br><br>
    </section>
    <section class="fixed-bg-pure">
        <br><br><br>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
        Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
        Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
        Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
        Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
        Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
        Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
        Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum <br><br><br><br><br><br><br><br><br><br>
        <br><br><br>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum <br><br><br><br><br><br><br><br><br><br>
    </section>
    <footer>
        Hello see you soon!
        <button type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-star"></span> Star
        </button>
    {#
        <img src="{{ asset('bundles/codecatsfront/images/python-bg.png') }}">#}
    </footer>
</section>
{% endblock %}