{% extends "CodeCatsFrontBundle::layout.html.twig" %}
{% block title %}{{ 'Strona główna' | trans }}{% endblock %}
{% block content %}

    <section class="front-header">
        <div>
            <h1 class="text-center title">Progress Checker</h1>
            <div class="container carousel-container">
                <div id="carousel-generic" class="carousel slide border shadow opacity-dark" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-generic" data-slide-to="1"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="{{ asset('bundles/codecatsfront/images/php-bg.png') | imagine_filter('my_thumb') }}" alt="...">
                            <div class="carousel-caption">
                                {{ 'PHP jest najczęściej stosowany do tworzenia skryptów po stronie serwera WWW, ale może być on również używany do przetwarzania danych z poziomu wiersza poleceń.' | trans }}
                            </div>
                        </div>
                        <div class="item">
                            <img src="{{ asset('bundles/codecatsfront/images/python-bg.png') | imagine_filter('my_thumb') }}" alt="...">
                            <div class="carousel-caption">
                                {{ 'Python – język programowania wysokiego poziomu ogólnego przeznaczenia[4] i rozbudowanym pakiecie bibliotek standardowych[5], którego ideą przewodnią jest czytelność i klarowność kodu źródłowego.' | trans }}
                            </div>
                        </div>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control hidden" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control hidden" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="bg1">
        <article>
            <h3 class="text-danger well shadow">{{ 'Najaktywniejsi użytkownicy' | trans }}</h3>
        {% set rowCounter = 0 %}
        {% set rowOpen = false %}
        {% for user in users %}
                {% if rowCounter == 0 %}
                    {% set rowOpen = true %}
                    <div class="row">
                {% endif %}
                <div class="col-md-4">
                    <div>
                        <div class="pull-right navbar-text well well-sm text-muted center-block opacity shadow">
                            <div class="text-center well well-sm shadow">
                                {{ 'Użytkownik' | trans }}: <span class="text-primary">{{ user[0].username }}</span>
                                <span class="bg-warning clearfix">{{ 'E-mail' | trans }}: {{ user[0].email }}</span>
                                <span class="bg-warning clearfix">{{ 'Rola' | trans }}: {{ user[0].grade }}</span>
                                <ol class="well well-sm">
                                    {% for phone in user[0].phones %}
                                        <li>{{ 'Telefon' | trans }}: {{ phone.number }}</li>
                                    {% else %}
                                        <li>{{ 'Brak numeru telefonu' | trans }}</li>
                                    {% endfor %}
                                </ol>
                            </div>
                            {% if user[0].avatar.path %}
                                <div>
                                    <img class="img-circle center-block shadow" src="{{ path('code_cats_panel_avatar_get', {name: user[0].avatar.path}) }}" alt="avatar for {{ user[0].username }}"/>
                                </div>
                            {% endif %}
                            <hr>
                            <p class="center-block well well-sm shadow">
                                {{ 'Ilość dni spędzonych podczas projektu' | trans }}:
                                {% if user.progress_days %}<span class="text-danger">{{ user.progress_days }}</span>{% else %} - {% endif %}
                            </p>
                            <a class="btn btn-primary center-block" href="#">{{ 'Zobacz szczegóły' | trans }} <span class="glyphicon glyphicon-hand-left"></span></a>
                        </div>
                    </div>
                </div>
                {% set rowCounter = rowCounter + 1 %}
                {% if rowCounter == 3 %}
                    {% set rowOpen = false %}
                    </div>
                {% endif %}
                {% if rowCounter == 3 %}
                    {% set rowCounter = 0 %}
                {% endif %}
        {% endfor %}
        {% if rowOpen == true %}
            </div>
        {% endif %}
        </article>
    </section>
    <section class="fixed-bg-pure">
        <div class="bgtriangle"></div>
        <div class="on-top bgtriangle-fix">
            <h3 class="text-danger well shadow">{{ 'Kategorie' | trans }}</h3>
                {% set rowCounter = 0 %}
                {% set rowOpen = false %}
                {% for category in categories %}
                    {% if rowCounter == 0 %}
                        {% set rowOpen = true %}
                        <div class="row">
                    {% endif %}
                    <div class="col-md-4">
                        <dl class="opacity well well-sm shadow border">
                            <dt id="category{{ category.name }}">{{ category.name }}</dt>
                            <dd>{{ category.description }}</dd>
                            <dd>
                                <a class="btn btn-primary center-block" href="#">
                                    {{ 'Zobacz szczegóły' | trans }} <span class="glyphicon glyphicon-hand-left"></span>
                                </a>
                            </dd>
                        </dl>
                    </div>
                    {% set rowCounter = rowCounter + 1 %}
                    {% if rowCounter == 3 %}
                        {% set rowOpen = false %}
                        </div>
                    {% endif %}
                    {% if rowCounter == 3 %}
                        {% set rowCounter = 0 %}
                    {% endif %}
                {% endfor %}
                {% if rowOpen == true %}
                    </div>
                {% endif %}
        </div>
    </section>
    <section class="bg2">
        <div class="bgtriangle-pure"></div>
        <div class="on-top bgtriangle-fix">
            <h3 class="text-danger well shadow">{{ 'Ostatnia aktywność' | trans }}</h3>
            <ul class="list-unstyled">
                {% for progress in progresses %}
                    <li class="opacity shadow border margins">
                        <div class="row">
                            <div class="col-md-8">
                                <dl class="dl-horizontal">
                                    <dt>{{ progress.title }}</dt>
                                    <dd>{{ progress.description }}</dd>
                                    <dt>{{ 'Początek' | trans }}</dt>
                                    <dd>{{ progress.started | date('Y-m-d') }}</dd>
                                    <dt>{{ 'Koniec' | trans }}</dt>
                                    <dd>{{ progress.ended | date('Y-m-d') }}</dd>
                                </dl>
                            </div>
                            <div class="col-md-2">
                                <a href="#category{{ progress.category.name }}" class="btn btn-primary">
                                    {{ progress.category.name }} <span class="glyphicon glyphicon-briefcase"></span>
                                </a>
                            </div>
                            <div class="col-md-2">
                                <a href="#" class="btn btn-primary">
                                    {{ progress.user.username }} <span class="glyphicon glyphicon-user"></span>
                                </a>
                            </div>
                        </div>

                    </li>
                {% else %}
                    <li>{{ 'Brak aktywności' | trans }}</li>
                {% endfor %}
            </ul>
        </div>
    </section>
    <section class="fixed-bg-pure">
        <h3 class="text-danger well shadow">{{ 'Statystyki' | trans }}</h3>
        <div class="row">
            <div class="col-md-12">
                <div class="opacity border shadow well">
                    <h5>{{ 'Dni ogółem' | trans }} <small>{{ 'Suma dla wszystkich użytkowiników' | trans }}:</small> <span class="text-danger">{{ countDays }}</span></h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="opacity border shadow well">
                    <h4>{{ 'Najdłużej używany język' | trans }}</h4>
                    {% if categoryMostUsed[0].progress is defined %}
                        <div class="text-muted">
                            {{ 'Nazwa' | trans }}:
                            <a class="btn btn-primary center-block" href="#">
                                {{ categoryMostUsed[0].progress.category.name }} <span class="glyphicon glyphicon-briefcase"></span>
                            </a>
                        </div>
                        <p>
                            <span class="text-muted">{{ 'Liczba dni' }}: </span><span class="text-danger">{{ categoryMostUsed[0].countDays }}</span>
                        </p>
                    {% else %}
                        {{ 'Brak danych' | trans }}
                    {% endif %}
                </div>
            </div>
            <div class="col-md-3">
                <div class="opacity border shadow well">
                    <h4>{{ 'Najaktywniejszy użytkownik' | trans }}</h4>
                    {% if users[0][0] is defined %}
                        <a class="btn btn-primary center-block" href="#">{{ users[0][0].username }} <span class="glyphicon glyphicon-user"></span></a>
                        <br>
                        <p>
                            <span class="text-muted">{{ 'Liczba dni' }}: </span><span class="text-danger">{{ users[0].progress_days }}</span>
                        </p>
                    {% else %}
                        {{ 'Brak danych' | trans }}
                    {% endif %}
                </div>
            </div>
            <div class="col-md-3">
                <div class="opacity border shadow well">
                    <h4>{{ 'Liczba kategorii' | trans }}</h4>
                    <p>
                        <span class="text-muted">{{ 'Razem' }}: </span><span class="text-danger">{{ categories | length }}</span>
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="opacity border shadow well">
                    <h4>{{ 'Najdłuższe przyłożenie' | trans }}</h4>
                    <div>
                        <span class="text-muted">{{ 'Liczba dni' }}: </span><span class="text-danger">{{ progressStrike.strike }}</span>
                        <div class="text-muted">
                            {{ 'Tytuł' | trans }}:
                            <a class="btn btn-primary center-block" href="#">
                                {{ progressStrike.progress.title }} <span class="glyphicon glyphicon-cloud"></span>
                            </a>
                        </div>
                        <br>
                        <div class="text-muted">
                            {{ 'Użytkownik' | trans }}:
                            <a class="btn btn-primary center-block" href="#">{{ progressStrike.progress.user.username }} <span class="glyphicon glyphicon-user"></span></a>
                        </div>
                        <br>
                        <p>
                            <span class="text-muted">{{ 'Od' }}: </span><span class="text-danger">{{ progressStrike.progress.started | date('Y-m-d') }}</span>
                        </p>
                        <p>
                            <span class="text-muted">{{ 'Do' }}: </span><span class="text-danger">{{ progressStrike.progress.ended | date('Y-m-d') }}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg3">
        <h3 class="text-danger well shadow">{{ 'Ostatnio dołączyli' | trans }}</h3>
        {% set rowCounter = 0 %}
        {% set rowOpen = false %}
        {% for user in newUsers %}
            {% if rowCounter == 0 %}
                {% set rowOpen = true %}
                <div class="row">
            {% endif %}
            <div class="col-md-3">
                <dl class="opacity well shadow border">
                    <dt>{{ 'E-mail' | trans }}: {{ user.email }}</dt>
                    <dd>{{ 'Nazwa' | trans }}: {{ user.username }}</dd>
                    <dd>
                        <a class="btn btn-primary center-block" href="#">
                            {{ 'Zobacz szczegóły' | trans }} <span class="glyphicon glyphicon-hand-left"></span>
                        </a>
                    </dd>
                </dl>
            </div>
            {% set rowCounter = rowCounter + 1 %}
            {% if rowCounter == 4 %}
                {% set rowOpen = false %}
                </div>
            {% endif %}
            {% if rowCounter == 4 %}
                {% set rowCounter = 0 %}
            {% endif %}
        {% endfor %}
        {% if rowOpen == true %}
            </div>
        {% endif %}
    </section>
{% endblock %}